<section id="widget-grid" class="">
    <div class="row" id="dictButton" style="margin-bottom:5px;">
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="widget-body">
                <!-- Dynamic Modal -->
                <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <!-- content will be filled here -->
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <!-- content will be filled here -->
                        </div>
                    </div>
                </div>
                <a href="javascript:void(0);" onclick="addDict()" id="addDict" class="btn btn-success" data-toggle="modal" data-target="#addModal">新增</a>
                <a href="javascript:void(0);" onclick="editDict()" id="editDict"  class="btn btn-info">编辑</a>
                <a href="javascript:void(0);" class="btn btn-danger" onclick="deleteDict()" id="deleteDict">删除</a>
                <input type="hidden" id="dictCode" value="">
            </div>
        </article>
    </div>
    <div class="row">
    	<div id="list-alert">
        </div>
    </div>
    <div class="row">
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <table id="jqgriddicts"></table>
            <div id="pjqgriddicts"></div>
        </article>
    </div>
    <div class="row">
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <table id="jqgrid"></table>
            <div id="pjqgrid"></div>
        </article>
    </div>
</section>
<script>
	var jq_data;
	var codeStr;
	$("#dictButton").hide();
    pageSetUp();
    loadScript("js/plugin/jqgrid/grid.locale-en.min.js", function(){
    	loadScript("js/plugin/jqgrid/jquery.jqGrid.min.js", function(){
    		loadScript("js/create-jqgrid.js", function(){ 
    			sendGet("/" + getProjectName() + "/v1.0/dict_types",createGrid_dicts,ListAlert,null);
    		});
    	});
    });
    
    function setDict(code){
    	if(code == null || code == ""){
    		ListAlert('error!类型的code为空.');
    	}else{
    		codeStr = code;
    		$("#dictCode").val(code);
    		$("#dictButton").show();
    		$("#jqgriddicts").jqGrid('GridUnload');
    		sendGet("/" + getProjectName() + "/v1.0/dicts?dict_type_code="+code,createGrid_dict_type,ListAlert,null);
    	}
    }
    
    function addDict(){
    	ListAlertClear();
    	$("#addDict").attr("href","views/system/dicts/add.html");
    }
    
    function editDict(){
    	ListAlertClear();
    	var s = $("#jqgriddicts").jqGrid('getGridParam', 'selarrrow'); 
    	if(s.length==1){
    		var id = $("#editDict");
    		id.attr("data-toggle","modal");
            id.attr("data-target","#addModal");
    		$("#editDict").attr("href","views/system/dicts/edit.html");
    	 }
    	 else{
    		 ListAlert("请勾选一行数据");
    	 }
    }

    function deleteDict(){
    	ListAlertClear();
    	var s = $("#jqgriddicts").jqGrid('getGridParam', 'selarrrow'); 
    	if(s.length==1){
    		 var dict_type_code = $("#jqgriddicts").jqGrid('getRowData',s).code;
    		 ListConfirm('delete', dict_type_code);
    	 }
    	 else{
    		 ListAlert("请勾选一行数据");
    	 }
    }
    
    function confirm(type, id){
    	ListAlertClear();
    	switch(type){
    	case 'delete':
    		sendDelete("/" + getProjectName() + "/v1.0/dicts/"+code+"?dict_type_code="+id, showReturn, ListAlert, null);
    		break;
    	default:
    	}
    }    
    
    function showReturn(data){
    	//启用、停用执行成功后的操作方法，刷新表格
		sendGet("/" + getProjectName() + "/v1.0/dict_types",reloadGrid,ListAlert,null);
	}
    
    function reloadGrid(data){
    	ListAlertClear();
    	jq_data=data['data'];   	
    	$("#jqgrid").clearGridData().setGridParam({data:jq_data}).trigger("reloadGrid");
    }
    
    
  //模态框刷新启停
    $(function () { 
    	//显示监听
    	$('#addModal').on('show.bs.modal', function () {
    		 if(typeof(flag) != "undefined"){
    			 clearInterval(flag); 
    		 }
    	})
    	//隐藏监听
    	$('#addModal').on('hide.bs.modal', function () {
    		if(typeof(flag) != "undefined"){ 
    			 flag = setInterval(showReturn, setTime);
   		 	}
    	})
    	
    }); 
    
    
    clearInterval(flag);
	var flag = setInterval(showReturn, setTime);
</script>