<div>
    <!-- widget content -->
    <div class="widget-body">

        <form action="" method="post" id="checkout-form" class="smart-form">
            <header>
                <h2>
                    编辑类型项
                    <button class="close"  data-dismiss="modal">
                        x
                    </button>
                </h2>

            </header>
            <fieldset>
            	<div id="dialog-alert">
            	</div>
            	<div class="row">
                    <label class="label col col-2" style="padding-right: 10px;"><label style="color:red">*</label>类型代码</label>
                    <section class="col col-4">
                        <label class="input">
                            <input type="text" id="dictsCode" name="dictsCode" disabled="disabled">
                        </label>
                    </section>
                </div>
                <div class="row">
                    <label class="label col col-2" style="padding-right: 10px;"><label style="color:red">*</label>类型项名称</label>
                    <section class="col col-4">
                        <label class="input">
                            <input type="text" id="name" name="name"  class="required ">
                        </label>
                    </section>
                    <label class="label col col-2" style="padding-right: 10px;"><label style="color:red">*</label>类型项代码</label>
                    <section class="col col-4">
                        <label class="input">
                            <input type="text" id="code" name="code"  class="required " disabled="disabled">
                        </label>
                    </section>
                </div>
            </fieldset>
        </form>


    </div>
    <!-- end widget content -->

</div>
<div class="modal-footer">

    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">
        取消
    </button>
    <button type="submit" class="btn btn-primary btn-sm" id="submitbtn">
        保存
    </button>
</div>
<script>
    pageSetUp();
    var s = $("#jqgriddicts").jqGrid('getGridParam', 'selarrrow'); 
    var dict_type_code = $("#jqgriddicts").jqGrid('getRowData',s).code;
    var dict_type_name = $("#jqgriddicts").jqGrid('getRowData',s).name;
    var dictCode = $("#dictCode").val();
    $("#dictsCode").val(dictCode);
    $("#name").val(dict_type_name);
    $("#code").val(dict_type_code);
    var pagefunction = function() {
        var errorClass = 'invalid';
        var errorElement = 'em';
        var option = {
            errorClass: errorClass,
            errorElement:errorElement,
            highlight: function(element) {
                $(element).parent().removeClass('state-success').addClass("state-error");
                $(element).removeClass('valid');
            },
            unhighlight: function(element) {
                $(element).parent().removeClass("state-error").addClass('state-success');
                $(element).addClass('valid');

            },
            // Rules for form validation
            // Messages for form validation
            messages:{
            	name : {
                    required : '请输入类型项名称'
                },
                code : {
                    required : '请输入类型项代码'
                }
            },
            errorPlacement : function(error, element) {
                if($(element).next("div").hasClass("tooltip")) {
                    $(element).attr("data-original-title", $(error).text()).tooltip("show");
                } else {
                    $(element).attr("title",
                            $(error).text()).tooltip("show");
                }
            },
            submitHandler:function(form){
            	//在这里生成需要提交的json数据
            	var data={
            			  name:$("#name").val(),
            			  sequence:0
            			};
            	sendPut("/" + getProjectName() + "/v1.0/dicts/"+dictCode+"?dict_type_code="+dict_type_code, postSuccess, DialogAlert,JSON.stringify(data),null);
            }
        };
        $('#checkout-form').validate(option);
    };
    loadScript("js/plugin/jquery-form/jquery-form.min.js", pagefunction);
    function postSuccess(data){
    	$("#addModal").modal('toggle');
    	sendGet("/" + getProjectName() + "/v1.0/dict_types",reloadGrid,ListAlert,null);
    }
    $('#submitbtn').click(function() {
    	DialogAlertClear();
    	$('#checkout-form').submit();
    });
</script>