<div>
	<!-- widget content -->
	<div class="widget-body">
		<form action="" method="post" id="checkout-form" class="smart-form">
			<header>
				<h2>
					增加库
					<button class="close" data-dismiss="modal">x</button>
				</h2>
			</header>
			<fieldset>
				<div id="dialog-alert"></div>
				<div class="row">
					<label class="label col col-3">库名</label>
					<section class="col col-8">
						<label class="input"> <input type="text" id="name"
							name="name" placeholder=" 请输入库名" class="required">
						</label>
					</section>
				</div>
				<div class="row">
					<label class="label col col-3">字符集</label>
					<section class="col col-8">
						<label class="select"> <select class="required "
							id="characterSet" name="characterSet">
						</select>
						</label>
					</section>
				</div>
			</fieldset>
		</form>
	</div>
	<!-- end widget content -->
</div>
<div class="modal-footer">

	<button type="button" class="btn btn-default btn-sm"
		data-dismiss="modal">取消</button>
	<button type="submit" class="btn btn-primary btn-sm" id="submitbtn">
		保存</button>
</div>
<script>
	pageSetUp();

	var characterSet, $characterSet;

	var pagefunction = function() {
		$characterSet = $("#characterSet").selectize({
			valueField : 'id',
			labelField : 'text',
			searchField : 'text',
			create : false,
			sortField : {
				field : 'id'
			},
			options : [ {
				id : "utf8",
				text : "utf8"
			}, {
				id : "gbk",
				text : "gbk"
			} ]
		});
		characterSet = $characterSet[0].selectize;
		characterSet.setValue([ "utf8" ]);

		var errorClass = 'invalid';
		var errorElement = 'em';
		var option = {
			errorClass : errorClass,
			errorElement : errorElement,
			highlight : function(element) {
				$(element).parent().removeClass('state-success').addClass(
						"state-error");
				$(element).removeClass('valid');
			},
			unhighlight : function(element) {
				$(element).parent().removeClass("state-error").addClass(
						'state-success');
				$(element).addClass('valid');
			},
			// Rules for form validation
			// Messages for form validation
			messages : {
				name : {
					required : '请输入库名'
				}
			},
			errorPlacement : function(error, element) {
				if ($(element).next("div").hasClass("tooltip")) {
					$(element).attr("data-original-title", $(error).text())
							.tooltip("show");
				} else {
					$(element).attr("title", $(error).text()).tooltip("show");
				}
			},
			submitHandler : function(form) {
				//在这里生成需要提交的json数据
				var data = $('#checkout-form').serializeArray();
				var jsonData=arrayToString(data);
            	jsonData = JSON.parse(jsonData);
				//在这里调用ajax方法提交
				sendPost("/" + getProjectName() + "/v1.0/servs/"
						+ getSession("serviceUpsqlId") + "/databases",
						postSuccess, DialogAlert, JSON.stringify(jsonData),
						null);
			}
		};
		$('#checkout-form').validate(option);
	};
	loadScript("js/plugin/jquery-form/jquery-form.min.js", pagefunction);

	$('#submitbtn').click(function() {
		DialogAlertClear();
		$('#checkout-form').submit();
	});
	function postSuccess(data) {
		//提交成功的方法
		$("#myModal").modal('toggle');
		sendGet("/" + getProjectName() + "/v1.0/servs/" + getSession("serviceUpsqlId")
				+ '/databases', reloadDatabaseGrid, ListAlert, null);
	}
</script>