<div>
	<!-- widget content -->
	<div class="widget-body">

		<form action="" method="post" id="checkout-form" class="smart-form">
			<header>
				<h2>
					迁移
					<button class="close" data-dismiss="modal">x</button>
				</h2>
			</header>
			<fieldset>
				<div id="dialog-alert"></div>
				<div class="row" style="margin:0" >
					<label class="label col col-4"><label style="color: red">*</label>分配方式</label>
					<section class="col col-3">
						<label class="select"> <select class="required " style = "width:100px"
							id="rebuildType" name="rebuildType">
						</select><i></i>
						</label>
					</section>
				</div>
				<div class="row" style="margin:0;display:none;" id="hostsRow">
					<label class="label col col-4"><label style="color: red">*</label>选择主机</label>
					<section class="col col-3">
						<label class="select"> <select class="required " style = "width:100px"
							id="hosts" name="hosts">
						</select><i></i>
						</label>
					</section>
				</div>
			</fieldset>
		</form>
	</div>
	<!-- end widget content -->

</div>
<div class="modal-footer">

	<button type="button" class="btn btn-default btn-sm"
		data-dismiss="modal">取消</button>
	<button type="submit" class="btn btn-primary btn-sm" id="submitbtn">
		确认</button>
</div>
<script>
	pageSetUp();

	var rebuildType, $rebuildType;
	var hosts, $hosts;
	var hostsValue = "hide";
	var s = $("#jqgrid").jqGrid('getGridParam', 'selarrrow');
	var clusterId = $("#jqgrid").jqGrid('getRowData',s).clusterId;
	var unitId = $("#jqgrid").jqGrid('getRowData', s).id;
	var pagefunction = function() {
		
		sendGet("/" + getProjectName() + "/v1.0/selections/hosts?site="
				+ getSession("siteId")+"&cluster="+clusterId, fillSelect_hosts, DialogAlert,
				null);
		sendGet("/" + getProjectName() + "/v1.0/selections/strategy_types", fillSelect_strategy_types, DialogAlert,
				null);

		var errorClass = 'invalid';
		var errorElement = 'em';
		var option = {
			errorClass : errorClass,
			errorElement : errorElement,
			highlight : function(element) {
				$(element).parent().removeClass('state-success').addClass(
						"state-error");
				$(element).removeClass('valid');
			},
			unhighlight : function(element) {
				$(element).parent().removeClass("state-error").addClass(
						'state-success');
				$(element).addClass('valid');
			},
			// Rules for form validation
			// Messages for form validation
			messages : {
				name : {
					required : '请输入区域名称'
				},
				description : {
					required : '请输入描述'
				},
				backupStorage : {
					required : '请选择备份存储'
				}
			},
			errorPlacement : function(error, element) {
				if ($(element).next("div").hasClass("tooltip")) {
					$(element).attr("data-original-title", $(error).text())
							.tooltip("show");
				} else {
					$(element).attr("title", $(error).text()).tooltip("show");
				}
			},
			submitHandler : function(form) {
				if(hostsValue == "show"){
					hostsValue = $("#hosts").val();
				}else{
					hostsValue = "";
				}
				var jsonData = {
						strategy : $("#rebuildType").val(),
						host:hostsValue
				};
				//在这里调用ajax方法提交
				sendPut("/" + getProjectName() + "/v1.0/units/"+unitId+"/migrate",postSuccess,ListAlert,JSON.stringify(jsonData),null);
			}
		};
		$('#checkout-form').validate(option);
	};
	loadScript("js/plugin/jquery-form/jquery-form.min.js", pagefunction);

	function fillSelect_hosts(data) {debugger;
		$hosts = $("#hosts").selectize({
			valueField : 'id',
			labelField : 'text',
			searchField : 'text',
			create : false,
			sortField : {
				field : 'text'
			},
			options : []
		});
		hosts = $hosts[0].selectize;
		$.each(data, function(k, v) {
			hosts.addOption(v);
			hosts.setValue(v.id);
		});
		hosts.setValue(data[0]['id']);
	}
	
	function fillSelect_strategy_types(data) {
		$rebuildType = $("#rebuildType").selectize({
			valueField : 'id',
			labelField : 'text',
			searchField : 'text',
			create : false,
			sortField : {
				field : 'text'
			},
			options : []
		});
		rebuildType = $rebuildType[0].selectize;
		$.each(data, function(k, v) {
			rebuildType.addOption(v);
			rebuildType.setValue(v.id);
		});
		rebuildType.setValue(data[0]['id']);
	}

	$("#rebuildType").change(function (){
		var value = $(this).children('option:selected').val();
		if(value != "auto"){
			$("#hostsRow").show();
			hostsValue = "show";
		}else{
			$("#hostsRow").hide();
			hostsValue = "hide";
		}
	});

	$('#submitbtn').click(function() {
		DialogAlertClear();
		$('#checkout-form').submit();
	});
	function postSuccess(data) {
		//提交成功的方法
		$("#migrateRebuildModal").modal('toggle');
		unitShowReturn();
	}
</script>