

.ui-jqgrid tr.jqgrow td{
    font-weight:normal;
// overflow:hidden;
// white-space:pre;
    white-space: normal !important;
    vertical-align:text-top;

    height:auto;
    padding:0 2px 0 2px;
    border-bottom-width:1px;
    border-bottom-color:inherit;
    border-bottom-style:solid;
}