[template]
src = "registry-reg-to-hs.sh.tmpl"
dest = "/DOCKER-REGISTRY/ops/registry-reg-to-hs.sh"
owner = "root"
mode = "0755"
keys = [
       "/horus/server/ip",
       "/horus/server/port",
       "/ip/addr",
       "/reg/port",
]

